$font-primary: "Lato";

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// Colors
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// StandardColors

$color-white-standard: white;
$color-grey-standard: rgb(31, 31, 31);

$color-yellow-orange-standard-light: rgb(79, 144, 241);
$color-yellow-orange-standard-dark: rgb(19, 106, 206);
$color-blue-standard-light: rgb(79, 144, 241);
$color-blue-standard-dark: rgb(19, 106, 206);

$color-green-standard-light: rgb(68, 165, 118);
$color-green-standard-dark: rgb(12, 63, 38);

$color-primary: #261e7d;
$color-primary-dark: #0e0545;

// COLOR VARIABLES
$color-secondary-light: #ffcc00;
$color-secondary-dark: #eb4d55;

// SHADOW

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

// BORDER
$border: 1px solid #f4f2f2;
$border-dark: 2px solid #f4f2f2;

html {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    background: linear-gradient(
        -45deg, 
        $color-blue-standard-dark, 
        $color-blue-standard-light,
        $color-white-standard,
        $color-blue-standard-light, 
        $color-white-standard,
        $color-blue-standard-dark
    );

    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}